<div class="col-xs-2 col-md-1">
    <a href="/buildings/<%= building.id %>">
        <img class="img-responsive" src="<%= building.img_src %>">
    </a>
</div>
<div class="col-xs-10 col-md-5">
    <h3><a href="/buildings/<%= building.id %>"><%= building.name %></a></h3>
    <h4><%= building.city.name %></h4>
    <p>The <%= building.name %> was built in <%= readable_date(building.date_built) %> and clocks in at <%= building.height_m %>m.</p>
</div>